{{ define "main" }}



<div id="carouselExampleControls" class="carousel slide" data-pause="false" data-ride="carousel" data-interval="5000">
  {{if site.Data.homepage.carousel.enable}}
    {{with site.Data.homepage.carousel}}
  <div class="carousel-inner" style=" height:   400px;">
    {{ $counter := 0 }}
    {{ range .carouselItem }}
    
    <div class="carousel-item {{if eq $counter 0}}active{{end}}">
      <img class="d-block w-100" src="{{.image}}" alt="" />
    </div>
    {{$counter = add $counter 1}}
    {{end}}
    <!-- d-block w-100 -->
  </div>
  {{end}}
  {{end}}
</div>

<!-- Carousel end -->


<!-- men -->
{{ if site.Data.homepage.men.enable }} {{ with site.Data.homepage.men }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-5 col-md-6">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="" />
      </div>
      <div class="col-md-6 col-lg-5">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /men -->
<!-- women -->
{{ if site.Data.homepage.women.enable }} {{ with site.Data.homepage.women }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-md-6 col-lg-5">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
      <div class="col-lg-5 col-md-6">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="" />
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /women -->

<!-- {{ if site.Data.homepage.cta.enable }} {{ partial "cta.html" . }} {{ end }} -->




<!-- products -->
{{ if site.Data.homepage.products.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        {{ with site.Data.homepage.products }}
        <h2>{{ .title | markdownify }}</h2>
        {{ end }}
      </div>
      {{ range first 8 (where site.RegularPages "Type" "products") }}
      <div class="col-lg-3 col-sm-4 mb-3">
        <div class="card border-0 text-center">
          <!-- <a href="{{ .Permalink }}"> -->
            {{ range first 1 .Params.Images }}
            <img
              src="{{ .image | absURL }}"
              alt="{{ .Title }}"
              class="card-img-top"
            />
            {{ end }}
          
          <!-- </div> -->
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /products -->


<!-- Google Map -->
{{ if site.Data.contact.map.enable }}

<section class="section pt-0">
  <div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.6673535962177!2d74.20294291517864!3d32.64168088101312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391f03f5e06b4257%3A0x730f819ba9f7a3f2!2sIbne%20Sachiyar%20Fabrics!5e0!3m2!1sen!2s!4v1632292898314!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>
{{ end }}
<!-- Google Map Ends -->
{{ end }}
