{{ define "main" }}

{{ partial "page-title.html" . }}


<!-- about us -->
{{ if site.Data.about.aboutUs.enable }} {{ with site.Data.about.aboutUs }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <!-- <div class="col-lg-12 col-md-6 align-items-center" style="text-align: center;">
        <img class="img-fluid center" src="{{ .image | absURL }}" alt="" />
      </div> -->
      <div class="col-md-6 col-lg-12" style="text-align: center;">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /about us-->


<!-- about our fabrics-->
{{ if site.Data.about.aboutFabric.enable }} {{ with site.Data.about.aboutFabric }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-5 col-md-6">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="" />
      </div>
      <div class="col-md-6 col-lg-5">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /about -->


<!-- material -->
{{ if site.Data.about.material.enable }} {{ with site.Data.about.material
}}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .subtitle | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .materialItem }}
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card border-0 text-center" style="text-align:center !important;">
          <img style="width: 50% !important;" 
            src="{{ .image | absURL }}"
            alt="material"
            class="card-img-top border-0"
          />
          <div class="card-body">
            <h4>{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /material -->

<!-- advantage -->
{{ if site.Data.homepage.advantage.enable }} {{ with
site.Data.homepage.advantage }}
<section class="section pb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2>{{ .title | markdownify }}</h2>
        <p class="mb-4">{{ .subtitle | markdownify }}</p>
        <ul class="list-unstyled" style="columns: 2">
          {{ range .advantageList }}
          <li class="mb-3">
            <i class="ti-arrow-circle-right text-primary mr-2"></i>{{ .listItem
            }}
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-6">
        <img src="{{ .image | absURL}}" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /advantage -->




<!-- {{ partial "cta.html" . }} -->

{{ end }}