{{ define "main" }}

{{ partial "page-title.html" . }}


<!-- about -->
{{ if site.Data.about.about.enable }} {{ with site.Data.about.about }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-12 col-md-6">
        <img class="img-fluid align-items-center" align="text-center" src="{{ .image | absURL }}" alt="" />
      </div>
      <div class="col-md-6 col-lg-12">
        <h2 class="align-items-center">{{ .title | markdownify }}</h2>
        <p class="align-items-center">{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /about -->


<!-- about -->
{{ if site.Data.about.about.enable }} {{ with site.Data.about.about }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-5 col-md-6">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="" />
      </div>
      <div class="col-md-6 col-lg-5">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- /about -->




<!-- {{ partial "cta.html" . }} -->

{{ end }}